body{

}
header {
    
}
nav {
    display: flex;
}
.navleft {
    color: #000;
    font-family: arial, sans-serif;
    font-size: 13px;
    margin: 10px;
    opacity: 0.75;
    text-decoration: none;
}
.navright {
    color: #000;
    font-family: arial, sans-serif;
    font-size: 13px;
    margin: 10px;
    margin-left: auto;
    opacity: 0.75;
    text-decoration: none;
}
a {
    text-decoration: none;
}
#signin {
    padding: 10px;
    background-color: #176bef;
    color: #ffffff;
    font-weight: bolder;
    border-radius: 2px;
}
main {
    align-items: center;
}
#main {
    align-items: center;
}
img {
    margin: auto;
    display: block;
}
#searchbar {
    border: 1px solid #bebebe;
    border-radius: 30px;
    display: flex;
    height: 45px;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 700px;
}
.buttons {
    display: flex;
    justify-content: center;
}
#search {
    background-color; #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    text-align: center;
}
#lucky {
    background-color; #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    text-align: center;
}
footer {
    background: #f2f2f2;
    color: #000;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.footerleft {
    color: #000;
    font-family: arial, sans-serif;    
    font-size: 14px;
    margin: 10px;
    opacity: 0.75;
    text-decoration: none;
}
.footerright {
    color: #000;
    font-family: arial, sans-serif;    
    font-size: 14px;
    margin: 10px;
    margin-left: auto;
    opacity: 0.75;
    text-decoration: none;
}