header {
    
}
body {
    background-color: #262626;
    color: #e6e6e6;
}
h1 {
    font-size: 36px;
}
h2 {
    color: #cc99ff;
    font-size: 26px;
}
.opening {
    color: #00bfff;
    display: inline;
}
.content {
    color: yellow;
    display: inline;
}   
.closing {
    color: #ff0000;
    display: inline;
}


.collapsible {
    background-color: #262626;
    color: #e6e6e6;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  .active, .collapsible:hover {
    background-color: #262626;
  }
  .knowledge-check1 {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #262626;
  }